vti_encoding:SR|utf8-nl
vti_author:SR|Louis-HP\\Louis
vti_modifiedby:SR|Louis-HP\\Louis
vti_timelastmodified:TR|15 Apr 2014 06:03:30 -0000
vti_timecreated:TR|08 Apr 2014 20:35:20 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|gallery/photography.html contact.html gallery/art.html about_me.html
vti_nexttolasttimemodified:TW|14 Apr 2014 22:47:49 -0000
vti_cacheddtm:TX|15 Apr 2014 06:03:30 -0000
vti_filesize:IR|2684
vti_cachedlinkinfo:VX|S|../images/linkedin.jpg S|../images/github.jpg S|../images/email.jpg S|../images/resume.jpg S|../images/background3.jpg
vti_cachedsvcrellinks:VX|FSUS|images/linkedin.jpg FSUS|images/github.jpg FSUS|images/email.jpg NSUS|images/resume.jpg FSUS|images/background3.jpg
