vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Apr 2014 05:31:15 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Louis-HP\\Louis
vti_modifiedby:SR|Louis-HP\\Louis
vti_timecreated:TR|25 Feb 2014 02:12:56 -0000
vti_backlinkinfo:VX|about_me.html
vti_nexttolasttimemodified:TW|15 Apr 2014 05:24:29 -0000
vti_cacheddtm:TX|15 Apr 2014 05:31:15 -0000
vti_filesize:IR|9268
vti_cachedlinkinfo:VX|S|../img/ico_loading.gif S|../images/portrait.jpg S|../images/programming.jpg S|../images/graduated.jpg S|../images/volleyball.jpg S|../images/future.jpg S|../images/futureb.jpg
vti_cachedsvcrellinks:VX|FSUS|img/ico_loading.gif FSUS|images/portrait.jpg FSUS|images/programming.jpg FSUS|images/graduated.jpg NSUS|images/volleyball.jpg FSUS|images/future.jpg FSUS|images/futureb.jpg
