vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|14 Apr 2014 20:38:47 -0000
vti_extenderversion:SR|12.0.0.0
vti_author:SR|Louis-HP\\Louis
vti_modifiedby:SR|Louis-HP\\Louis
vti_timecreated:TR|03 Jul 2011 07:06:20 -0000
vti_backlinkinfo:VX|index.html
vti_nexttolasttimemodified:TW|14 Apr 2014 20:38:39 -0000
vti_cacheddtm:TX|14 Apr 2014 20:38:47 -0000
vti_filesize:IR|2821
vti_cachedlinkinfo:VX|S|../js/vegas/overlays/05.png
vti_cachedsvcrellinks:VX|FSUS|js/vegas/overlays/05.png
